/*@import "compass"; */
.stepper .nav-tabs {
    position: relative;
}
.stepper .nav-tabs > li {
    width: 25%;
    position: relative;
}
.stepper .nav-tabs > li:after {
    content: '';
    position: absolute;
    background: #f1f1f1;
    display: block;
    width: 100%;
    height: 5px;
    top: 30px;
    left: 50%;
    z-index: 1;
}
.stepper .nav-tabs > li.completed::after {
    background: #34bc9b;
}
.stepper .nav-tabs > li:last-child::after {
    background: transparent;
}
.stepper .nav-tabs > li.active:last-child .round-tab {
    background: #34bc9b;
}
.stepper .nav-tabs > li.active:last-child .round-tab::after {
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
}
.stepper .nav-tabs [data-toggle='tab'] {
    width: 25px;
    height: 25px;
    margin: 20px auto;
    border-radius: 100%;
    border: none;
    padding: 0;
    color: #f1f1f1;
}
.stepper .nav-tabs [data-toggle='tab']:hover {
    background: transparent;
    border: none;
}
.stepper .nav-tabs > .active > [data-toggle='tab'], .stepper .nav-tabs > .active > [data-toggle='tab']:hover, .stepper .nav-tabs > .active > [data-toggle='tab']:focus {
    color: #34bc9b;
    cursor: default;
    border: none;
}
.stepper .tab-pane {
    position: relative;
    padding-top: 50px;
}
.stepper .round-tab {
    width: 25px;
    height: 25px;
    line-height: 22px;
    display: inline-block;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #34bc9b;
    color: #34bc9b;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 14px;
}
.stepper .completed .round-tab {
    background: #34bc9b;
}
.stepper .completed .round-tab::after {
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
}
.stepper .active .round-tab {
    background: #fff;
    border: 2px solid #34bc9b;
}
.stepper .active .round-tab:hover {
    background: #fff;
    border: 2px solid #34bc9b;
}
.stepper .active .round-tab::after {
    display: none;
}
.stepper .disabled .round-tab {
    background: #fff;
    color: #f1f1f1;
    border-color: #f1f1f1;
}
.stepper .disabled .round-tab:hover {
    color: #4dd3b6;
    border: 2px solid #a6dfd3;
}
.stepper .disabled .round-tab::after {
    display: none;
}

#main {
    margin: 10px auto;
}

.payment-sample {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #193048;
}

/*body { margin:50px auto; width:600px;}*/

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.result-section {
    margin:0px -2px 0px 0px;
    height:200px;
    width:200px;
    overflow-y: scroll;
}

#textarea {
    left:100px;
    top:-60px;
    vertical-align: middle;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-xs-12 col-md-4 {
    margin: 0 auto;
    left: 50px;
}

.intuit-payment-demo {
    float:right;
    color:white;
    padding-top: 18px;
    padding-right: 16px;
    font-size: 30px;
}
.qblogo {
    width:250px;
}

.emulateSandbox {
    margin: 0 auto;
    left: 50px;
    padding-left: 120px;
}

.dl-horizontal dt {
    text-align: left !important;
}

.dl-horizontal dd {
    margin-left: 200px !important;
}